{% extends "base.html" %}

{% block content %}

{% comment %} <h2>Owned Books</h2> {% endcomment %}

<div class="books-grid">
  {% for ownedbook in ownedbook_list %}
    <div
      class="book-grid-item"
      style="
        margin-bottom: 16px;
        padding: 16px;
        max-width: 300px;
      "
    >
      <a
        href="books/{{ ownedbook.id }}"
        title="{{ ownedbook.book.title }}{% if ownedbook.book.authors.exists %}{% for author in ownedbook.book.authors.all %}, {{ author.full_name }}{% endfor %}{% endif %}"
      >
        {% include "books/book.html" with book=ownedbook.book ownedbook=ownedbook only %}
      </a>
    </div>
  {% empty %}
    No owned books yet
  {% endfor %}
</div>

<style>

.books-grid {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
}

.book-grid-item {
  margin: 0.5em;
}

</style>

{% endblock content %}
