{% extends "base.html" %}

{% block content %}

<h2>Google Books Search</h2>

<!-- Search -->
<form method="GET">
  <label>
    ISBN <input type="text" name="isbn" required>
  </label>
  <button type="submit">Search</button>
</form>

<form method="GET">
  <label>
    Title <input type="text" name="title" required>
  </label>
  <label>
    Author <input type="text" name="author">
  </label>
  <button type="submit">Search</button>
</form>

<!-- Results -->
{% for book in matching_books %}
  <div>
    {% include "books/book.html" with book=book only %}

    {% if book not in request.user.owned_books.all %}
    <form action="books/add" method="POST">
      {% csrf_token %}
      <input
        type="number"
        name="book_id"
        value="{{ book.id }}"
        hidden
      >
      <button
        type="submit"
        style="margin-top: 8px"
      >
        Add to owned Books
      </button>
    </form>
    {% else %}
    Already in owned Books
    {% endif %}

  </div>
  {% if not forloop.last %}<hr>{% endif %}
{% empty %}
  No matches
{% endfor %}

{% endblock content %}
